
#emotion_wrapper {
  background-color: white;
  border: 1px solid rgb(233 233 233);
  border-radius: 5px;
  min-height: 6.25rem;
  height: 300px;
  box-shadow: 0 0.125rem 0.25rem 0 rgba(0, 0, 0, 0.1);
  position: absolute;
}

.emoticon_facebox {
  height: 266px;
  width: 480px;
  margin: 12px 2px 12px 12px;
  padding: 0 10px 0 0;
  overflow-x: hidden;
  overflow-y: auto;
}
.woo-box-item-inlineBlock {
  display: inline-block;
}

.woo-box-item-inlineBlock :hover {
  background-color: rgb(247 98 42 / 60%);
  border-radius: 100%;
}

.u-col-12 [class*="box-item"],
.u-col-12 [data-type="w-box-item"] {
  width: 8.333%;
}
.emoticon_tab .wbpro-iconbed {
  width: 38px;
  height: 38px;
}

.wbpro-iconbed {
  position: relative;
  width: 34px;
  height: 34px;
  cursor: pointer;
  line-height: 0;
}
.woo-box-justifyCenter {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.woo-box-alignCenter {
  align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
}
.woo-box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Emoticon_img_3aMkw {
  width: 24px;
  height: 24px;
}
